doctype html
html
    head
        style.
            .title{
                color:grey;
                font-size: 100px;
                text-align: center;
            }
            h3{
                text-align: center;
                text-transform: uppercase;
            }

        body
            header
            h3 this page display params
            h1( class='title') Hello #{name}